<mat-card>
  <mat-card-title>MyApp</mat-card-title>
<mat-card-content>
<form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="loginUser()">
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username">
    <mat-error >
      <div *ngIf="submitted && loginForm.controls['username'].errors">
        <div *ngIf="loginForm.controls['username'].errors?.['required']">Username is required</div>
        <div *ngIf="loginForm.controls['username'].errors?.['minLength']">Minimum Length 5 Character</div>
        <div *ngIf="loginForm.controls['username'].errors?.['maxLength']">Maximum Length 12 Character</div>
    </div>
   </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
    <mat-error >
      <div *ngIf="submitted && loginForm.controls['password'].errors">
        <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</div>
        <div *ngIf="loginForm.controls['password'].errors?.['minLength']">Minimum Length 5 Character</div>
        <div *ngIf="loginForm.controls['password'].errors?.['maxLength']">Maximum Length 8 Character</div>
    </div>
  </mat-error>
  </mat-form-field>

<div class="button">
  <button type="submit" mat-button>Login</button>
  <button type="button" (click)="register()" mat-button>Register</button>
</div>

</form>
</mat-card-content>
</mat-card>